.page-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-weight: 600;
  font-size: 14px;
}

.required {
  color: red;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.save-btn,
.cancel-btn {
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
}

.save-btn {
  background: #4CAF50;
}

.cancel-btn {
  background: #e74c3c;
}


.disabled-btn {
  background: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}


.enabled-btn {
  background: #4CAF50;
  cursor: pointer;
}